.footer__copyright {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
  color: #ffffff;
  transition: all 1s ease;
}
@media screen and (max-width: 717px) {
  .footer__copyright {
    position: static;
    text-align: start;
  }
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 16px;
  }
}
