@font-face {
  font-family: Inter;
  src: url(../../blocks/font/Inter-Regular.woff2) format("woff2");
}
@font-face {
  font-family: Inter-Black;
  src: url(../../blocks/font/Inter-Black.woff2) format("woff2");
}
