.cover__title {
  max-width: 550px;
  font-family: Inter;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 3;
  align-self: end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  text-shadow: 0 0px 1px black;
  color: #ffffff;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  transition: all 1s ease;
}
@media screen and (max-width: 550px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
